.contacts__wrapper {
  text-align: center;
  padding: 41px 20px 0;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 0 21px;
  }
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 35px;

  @media (min-width: @tablet-width) {
    max-width: 540px;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    text-transform: none;
    margin: 0 auto 33px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 0 auto 40px;
  }
}

.contacts__list {
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 630px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    max-width: 933px;
    align-items: flex-start;
  }
}

.contacts__item {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    &:not(:last-child) {
      margin-bottom: 42px;
    }

    &:last-child {
      margin-bottom: 24px;
    }
  }

  @media (min-width: @desktop-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts__item:nth-child(2) {
  @media (min-width: @desktop-width) {
    order: 3;
  }
}

.contacts__item:last-child {
  @media (min-width: @desktop-width) {
    margin-left: 13px;
  }
}

.contacts__call,
.contacts__write,
.contacts__come {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 22px;
  }
}

.contacts__call {
  @media (min-width: @tablet-width) {
    margin-left: -4px;
  }
}

.contacts__write {
  @media (min-width: @tablet-width) {
    margin-left: 19px;
  }
}

.contacts__come {
  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.contacts__number,
.contacts__email,
.contacts__address {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: @darkpink;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: @navyblue;
    text-decoration: underline;
  }

  &:active {
    color: @navyblue;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    max-width: 220px;
  }
}

.contacts__email {
  @media (min-width: @tablet-width) {
    margin-right: -20px;
  }
}

.contacts__map {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 197px;
  background-image:
    url("../img/background-map-triangle.png"),
    url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -4px, center;
  background-size: 100% 34px, 100%;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/background-map-triangle.png"),
      url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    min-height: 374px;
    background-image:
      url("../img/background-map-triangle.png"),
      url("../img/map-tablet.jpg");
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: 100% 68px, cover;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/background-map-triangle.png"),
        url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    min-height: 500px;
    background-image:
      url("../img/background-map-triangle.png"),
      url("../img/map-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 0 -21px, center;
    background-size: 100%, cover;
    margin: 0 auto;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/background-map-triangle.png"),
        url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__label {
  display: block;
  width: 16px;
  height: 16px;
  border: 10px solid @white;
  border-radius: 50%;
  background-color: @darkpink;
  margin: 0 auto -25px;

  @media (min-width: @tablet-width) {
    margin-bottom: -50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -61px;
  }
}
