.diagram {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 96px 20px 84px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 130px 112px;
    background-color: @lightgrey;
  }
}

.diagram__wrapper {
  position: relative;
  max-width: 315px;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding-left: 310px;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    max-width: 940px;
    padding-left: 370px;
  }
}

.diagram__wrapper::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 280px;
  top: -42px;
  left: 0;
  background-image: url("../img/diagram-tablet.png");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/diagram-tablet@2x.png");
    background-size: 238px auto;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 350px;
    top: -92px;
    left: 1px;
    background-image: url("../img/diagram-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/diagram-desktop@2x.png");
      background-size: 298px auto;
    }
  }
}

.diagram__title {
  max-width: 170px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: @black;
  margin: 0 0 10px 0;

  @media (min-width: @desktop-width) {
    max-width: none;
    margin-bottom: 22px;
  }
}

.diagram__description {
  line-height: 24px;
  max-width: 300px;
  margin: 0 0 12px 0;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    max-width: 600px;
    margin-bottom: 30px;
  }
}

.diagram__link {
  color: @darkpink;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
