.download {
  background-color: #1d2631;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 130px;
  }
}

.download__wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 28px 20px 33px;

  @media (min-width: @tablet-width) {
    max-width: 50%;
    text-align: left;
    margin: 0;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 300px;
    padding: 0 130px;
  }
}

.download__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @white;
  background-color: transparent;
  padding: 16px 33px;
  border: 3px solid @white;
  border-radius: 29px;
  margin-bottom: 32px;

  @media (min-width: @desktop-width) {
    min-width: 300px;
  }
}

.download__list {
  margin-bottom: 28px;
}

.download__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;

  @media (min-width: @tablet-width) {
    max-width: 280px;
    text-align: center;
    padding: 0 5px;
  }
}
