.price__wrapper {
  text-align: center;
  background-image: url("../img/index/background/background-price-index-s.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 127px 20px 49px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/index/background/background-price-index-m.png");
    padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 160px 130px 100px;
  }
}

.price__table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  margin: 0 auto 30px;

  @media (min-width: @desktop-width) {
    max-width: 940px;
  }
}

.price__table-current {
  @media (max-width: @mobile-width-only) {
    &--base {
      transform: translateX(calc(-17% + 3px));
    }

    &--standard {
      transform: translateX(-50%);
      margin-left: 50%;
    }

    &--unlimited {
      transform: translateX(calc(-83% - 3px));
      margin-left: 50%;
    }
  }
}

.price__table-head {
  position: relative;
  box-sizing: border-box;
  min-width: 280px;
  background-color: @navyblue;
  color: @white;
  border-right: 2px solid @lightgrey;
  text-align: center;
  padding: 10px 0;

  @media (min-width: @tablet-width) {
    min-width: 153px;
    padding: 15px 0 10px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 0 20px;
  }
}

.price__table-head:last-child {
  border-right: none;
}

.price__table-head--empty {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.price__table-head--heet::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 74px;
  height: 74px;
  background-image: url("../../img/index/icon/heet-s-l.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 61px;
    height: 61px;
    left: 0;
    background-image: url("../../img/index/icon/heet-m.svg");
  }

  @media (min-width: @desktop-width) {
    left: 0;
    width: 74px;
    height: 74px;
    background-image: url("../../img/index/icon/heet-s-l.svg");
  }
}

.price__option {
  font-size: 14px;
  line-height: 30px;
  background-color: @white;
  background-repeat: no-repeat;
  background-position: 230px 21px;
  border: 2px solid @grey;
  border-top: none;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 20px;

  &--yes {
    background-image: url("../img/index/icon/price-yes.svg");
  }

  &--no {
    background-image: url("../img/index/icon/price-no.svg");
  }

  @media (min-width: @tablet-width) {
    display: table-cell;
    height: 45px;
    min-width: 153px;
    box-sizing: border-box;
    background-position: center;
    text-transform: none;
    padding: 6px 15px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }
}

.price__option--hiding-s {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
    box-sizing: border-box;
    padding: 6px 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.price__option--hiding-s:first-child {
  @media (min-width: @tablet-width) {
    border-top: 2px solid @grey;
  }
}

.price__option--hiding-m {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.price__value {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 17px 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}
