.price {
  outline: 2px solid #d22856;
  outline-offset: -2px;
}

.price__wrapper {
  text-align: center;
  background-image: url("../../img/index/background/background-price.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 127px 0 49px 0;
}

.price__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price__header {
  background-color: #283645;
  color: #ffffff;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  padding: 10px;
}

.price__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.price__value {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 17px 0;
}

.price__option {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  border-top: none;
  margin: 0;
  padding: 20px;
}
