.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  width: 100%;
  background-color: #2aab6d;
  border: none;
  border-radius: 1px;
  padding: 20px 0;
  text-transform: uppercase;
}
