.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  min-width: 276px;
  background-color: @mediumgreen;
  border: none;
  border-radius: 3px;
  padding: 20px 0;
  text-transform: uppercase;
}
