html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: @navyblue;
  background-color: @white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dedicated-text {
  text-transform: uppercase;
  color: @darkpink;
}
