.block-of-the-day__mark {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  background-color: #d22856;
  padding: 13px 20px;
}

.block-of-the-day__image {
  width: 100%;
}

.block-of-the-day__comment-wrapper {
  padding: 0 20px;
}

.block-of-the-day__comment {
  text-align: left;
  background-color: #f2f2f2;
  padding: 25px 17px;
  margin-bottom: 20px;
}

.block-of-the-day__username {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 14px 0;
}

.block-of-the-day__comment-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.block-of-the-day__comment-text {
  line-height: 24px;
}

.block-of-the-day__like-button {
  margin-right: 18px;
}
