.photo-catalog {
  text-align: center;
  outline: 2px solid #d22856;
  outline-offset: -2px;
}

.photo-catalog__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding: 54px 35px 60px;
}

.photo-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}
