.photo-catalog {
  text-align: center;
}

.photo-catalog__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding: 44px 35px 50px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 92px 100px 76px;
  }

  @media (min-width: @desktop-width) {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 88px;
  }
}

.photo-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 20px;
    max-width: 620px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 300px 300px 300px;
    grid-row-gap: 55px;
    max-width: 940px;
  }
}
