.settings {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.settings__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 240px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px 0 15px;
}

.settings__button-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-bottom: 35px;

  &--current svg {
    fill: @darkpink;
  }
}

.settings__button-mark {
  opacity: 0.3;
}

.settings__tuning-strip {
  display: block;
  position: relative;
  width: 240px;
  height: 2px;
  background-color: @navyblue;
  margin: 0 auto;
}

.settings__tuning-mark {
  position: absolute;
  top: -4px;
  left: 193px;
  width: 9px;
  height: 9px;
  background-color: @white;
  border: 2px solid @darkpink;
  border-radius: 50%;

  &:active {
    background-color: @darkpink;
  }
}
