.settings-m {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.settings-m__parameter {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50px;
  border-bottom: 1px solid @grey;
  padding-bottom: 12px;

  @media (min-width: @desktop-width) {
    &:last-child {
      border-bottom: none;
    }
  }
}

.settings-m__mark {
  margin-right: auto;
  margin-left: 3px;

  & path {
    fill: @darkpink;
  }

  @media (min-width: @desktop-width) {
    width: 50px;
    height: 50px;
  }
}

.settings-m__mark-crop {
  margin: -7px auto 0 -2px;

  @media (min-width: @desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.settings-m__mark-fill {
  margin: 2px auto 0 -3px;

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.settings-m__mark-contrast {
  margin-left: 3px;

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
    margin-left: 6px;
  }
}

.settings-m__tuning-strip {
  position: relative;
  width: 200px;
  height: 2px;
  background-color: @navyblue;
  margin-right: 20px;

  @media (min-width: @desktop-width) {
    width: 288px;
  }
}

.settings-m__tuning-mark {
  position: absolute;
  top: -6px;
  left: 190px;
  width: 10px;
  height: 10px;
  background-color: @white;
  border: 2px solid @darkpink;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    border-color: @navyblue;
  }

  &:active {
    background-color: @darkpink;
  }
}

.settings-m__tuning-mark-crop {
  left: 160px;

  @media (min-width: @desktop-width) {
    left: 234px;
  }
}

.settings-m__tuning-mark-fill {
  left: 25px;

  @media (min-width: @desktop-width) {
    left: 36px;
  }
}

.settings-m__tuning-mark-contrast {
  left: 96px;

  @media (min-width: @desktop-width) {
    left: 137px;
  }
}
