.upload {
  text-align: center;
}

.upload__title {
  padding: 29px 20px 52px;
}

.upload__form {
  background-color: @lightgrey;
  padding: 20px 20px 41px;
}

.upload__user-photo {
  width: 100%;
  margin-bottom: 42px;
}

.upload__button-post {
  padding: 38px 0 0;
}

.upload__button-apply,
.upload__button-cancellation {
  width: 100%;
  border: 3px;
  border-style: solid;
  border-radius: 30px;
  padding: 21px 20px;
  word-break: break;
}

.upload__button-apply {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @darkpink;
  border-color: @darkpink;
  margin-bottom: 12px;
}

.upload__button-cancellation {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @navyblue;
  border-color: @navyblue;
  opacity: 0.1;
}
