.achievements {
  border: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    border: 2px solid @grey;
    border-radius: 3px;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

.achievements__wrapper {
  background-color: @lightgrey;
  padding: 42px 22px 44px 22px;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    padding: 54px 60px 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 60px;
  }
}

.achievements__legend {
  margin-bottom: 44px;
}

.achievements__list {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.achievements__item:not(:last-child) {
  margin-bottom: 47px;
}

.achievements__control {
  display: flex;
  align-items: center;
}

.achievements__control-mark {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: @white;
  border: 2px solid @grey;
  border-radius: 1px;
  margin-right: 20px;
}

.achievements__control-label {
  font-size: 18px;
  line-height: 30px;
}
