.achievements {
  padding: 0;
}

.achievements__wrapper {
  background-color: #f2f2f2;
  padding: 42px 22px 44px 22px;
}

.achievements__title {
  margin-bottom: 44px;
}

.achievements__list {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.achievements__item:not(:last-child) {
  margin-bottom: 47px;
}

.achievements__control {
  display: block;
}

.achievements__control-mark {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  margin-right: 20px;
}

.achievements__control-label {
  font-size: 18px;
  line-height: 30px;
}
