.application {
  text-align: center;
  padding-top: 54px;

  @media (min-width: @desktop-width) {
    max-width: 940px;
    margin: 0 auto;
  }
}

.application__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0 0 55px 0;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    max-width: 490px;
    font-size: 18px;
    margin: 0 auto;
    padding: 45px 85px 80px;
  }

  @media (min-width: @desktop-width) {
    max-width: 756px;
  }
}

.aplication__title--hidding-s {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.application__form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 433px 433px;
    grid-template-rows: 300px 160px 230px 215px 60px;
    grid-gap: 73px 65px;
    max-width: 940px;
    padding: 0;
  }
}

.application__bottom-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 4;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    margin: 0;
  }
}

.application__button-wrapper {
  padding: 0 22px;
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.application__required-field {
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.application__required-field-s {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.application__required-field-l {
  @media (max-width: calc(@desktop-width - 1px)) {
    display: none;
  }
}
