.application__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  padding: 0 20px;
}

.application__button-wrapper {
  padding: 0 22px;
  margin-bottom: 46px;
}

.application__required-field {
  margin: 0;
  padding-bottom: 26px;
}
