.failure {
  display: block;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: @white;
  text-align: center;
  padding: 38px 20px 52px;
  box-shadow: 0 4px 4px fade(@black, 25%);

  @media (min-width: @tablet-width) {
    width: 460px;
    left: 50%;
    margin-left: -230px;
    padding: 44px 80px 52px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
    margin-left: -390px;
    padding: 44px 0 0;
  }

  &--closed {
    display: none;
  }
}

.failure__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 25px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin: 0 20px 22px;
  }
}

.failure__description {
  line-height: 24px;
  margin: 0 0 41px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin: 0 0 35px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 200px 65px;
  }
}

.failure__button-wrapper {
  @media (min-width: @desktop-width) {
    background-color: @lightgrey;
    padding: 52px 0;
  }
}
