.failure {
  &--closed {
    display: none;
  }

  &--opend {
    display: block;
    position: absolute;
    width: 100%;
    background-color: @white;
    text-align: center;
    bottom: -1150px;
    padding: 44px 0 52px 0;
    box-shadow: 0 4px 4px fade(@black, 25%);
  }
}

.failure__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 37px 0;
}

.failure__description {
  line-height: 24px;
  margin: 0 0 93px 0;
}
