.full-username {
  border: none;
  padding: 0 0 44px 0;

  @media (min-width: @tablet-width) {
    order: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.full-username__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.full-username__label {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 55px;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.full-username__item:not(:last-child) {
  margin: 0 0 29px 0;
}

.full-username__text {
  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.full-username__field {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: @navyblue;
  border: 2px solid @grey;
  border-radius: 1px;
  padding: 15px 20px;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
  }
}
