.user-contacts {
  outline: 2px solid #d22856;
  outline-offset: -2px;
  padding: 42px 0 44px 0;
}

.user-contacts__legend {
  display: none;
}

.user-contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-contacts__label {
  margin-bottom: 17px;
}

.user-contacts__input {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @navyblue;
  padding: 23px 20px;
  margin-bottom: 29px;
}
