.version {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    order: 1;
    border: 2px solid @grey;
    border-radius: 3px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }
}

.version__wrapper {
  position: relative;
  background-color: @lightgrey;
  padding: 37px 20px 40px;
  text-align: left;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    padding: 51px 60px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding: 53px 70px;
  }
}

.version__legend {
  text-align: center;
  margin: 0 auto 33px;
  padding: 0 45px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -20px;
    left: 50%;
    box-sizing: border-box;
    width: 370px;
    line-height: 30px;
    background-color: @white;
    margin-left: -185px;
    padding: 4px 25px;
  }
}

.version__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.version__item:not(:last-child) {
  margin-bottom: 34px;
}

.version__control {
  display: flex;
  align-items: center;
}

.version__control-label {
  font-size: 18px;
  line-height: 30px;
}

.version__control-mark {
  display: inline-block;
  position: relative;
  width: 37px;
  height: 37px;
  background-color: @white;
  border: 2px solid @grey;
  border-radius: 50%;
  margin-right: 29px;
  cursor: pointer;

  &:hover {
    border-color: @navyblue;
  }

  &:active {
    border-color: @darkpink;
  }

  @media (min-width: @tablet-width) {
    margin-right: 18px;
  }
}

.version__control-input:checked + .version__control-mark::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 50%;
  background-color: @darkpink;
}

.version__control-input:focus + .version__control-mark {
  border-color: @navyblue;
}
