.page-footer {
  outline: 2px solid #d22856;
  outline-offset: -2px;
}

.page-footer__wrapper {
  text-align: center;
  padding: 40px 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo-glasses {
  margin-right: 12px;
}

.page-footer__logo-name path {
  fill: @navyblue;
}

.page-footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.page-footer__item:not(:last-child) {
  margin-right: 10px;
}

.page-footer a {
  text-decoration: none;
}

.page-footer__link-academy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: @navyblue;
}

.page-footer__logo-html-academy {
  margin-left: 15px;
}
