.page-footer__wrapper {
  text-align: center;
}

.page-footer__logo {
  text-decoration: none;
}

.page-footer__logo--name path {
  fill: #283645;
}


.page-footer__developed {
  line-height: 18px;
  margin: 0;
}

