.main-nav__wrapper {
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    top: 112px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: 0;
  }
}

.main-nav__list {
  display: none;
  list-style-type: none;
  box-shadow: 0 4px 4px 0 fade(@black, 20%);

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 700px;
    background-color: transparent;
    box-shadow: none;
  }
}

.page-header__navigation--opened .main-nav__list {
  @media (max-width: @desktop-width) {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #283645;
  }
}

.main-nav__link {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 2px solid fade(@white, 15%);
  border-bottom: 2px solid @black;
  padding: 15px 20px;

  &:hover {
    color: @darkpink;
  }

  @media (max-width: @desktop-width) {
    &:active {
      color: fade(@darkpink, 30%);
    }
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    border: none;
  }
}


.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 2;
  display: block;
  width: 65px;
  height: 65px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    top: 22px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__navigation--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 21px;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: @white;
  box-shadow:
    0 10px 0 0 @white,
    0 20px 0 0 @white;
  border-radius: 1px;
}

.page-header__navigation--closed .main-nav__toggle:hover::before {
  background-color: @darkpink;
  box-shadow:
    0 10px 0 0 @darkpink,
    0 20px 0 0 @darkpink;
}

.page-header__navigation--closed .main-nav__toggle:active::before {
  background-color: fade(@darkpink, 30%);
  box-shadow:
    0 10px 0 0 fade(@darkpink, 30%),
    0 20px 0 0 fade(@darkpink, 30%);
}

.page-header__navigation--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 33px;
    right: 0;
    width: 25px;
    height: 3px;
    background-color: @white;
    border-radius: 1px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__navigation--opened .main-nav__toggle:hover::before,
.page-header__navigation--opened .main-nav__toggle:hover::after {
  background-color: @darkpink;
}

.page-header__navigation--opened .main-nav__toggle:active::before,
.page-header__navigation--opened .main-nav__toggle:active::after {
  background-color: fade(@darkpink, 25%);
}
