.main-nav__list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    min-width: 620px;
  }
}

.main-nav__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}
