.page-header {
  background-color: #1d2631;
  background-image: url("../../img/header/background/background-intro-s.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: @tablet-width) {
    background-image: url("../../img/header/background/background-intro-m.jpg");
    background-size: cover;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/header/background/background-intro-l.jpg");
    background-size: cover;
  }
}

.page-header-main {
  @media (min-width: @tablet-width) {
    background-image: url("../../img/header/background/background-intro-m.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/header/background/background-intro-l.jpg");
    background-repeat: no-repeat;
  }
}

.page-header__wrapper {
  max-width: 1200px;
  position: relative;
  color: @white;
  margin: 0 auto;
}

.page-header__wrapper-main {
  @media (min-width: @tablet-width) {
    background-image: url("../../img/index/background/background-intro-phone-m.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/index/background/background-intro-phone-l.png");
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

.page-header__navigation {
  display: flex;
  align-items: center;
  color: #ffffff;
  min-height: 66px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    min-height: 110px;
    box-sizing: border-box;
    margin-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.page-header__navigation--opened {
  background-color: #283645;
  border-bottom: 2px solid @black;

  @media (min-width: @desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
  }
}

.page-header__logo {
  margin-right: auto;
  padding: 20px 0;

  &:hover path {
    fill: @darkpink;
  }

  &:active path {
    fill: fade(@darkpink, 30%);
  }

  @media (max-width: @mobile-width-only) {
    height: 23px;
  }

  @media (min-width: @tablet-width) {
    width: 145px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 27px 0 43px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
  }
}

.page-header__logo-glasses {
  display: none;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.page-header__logo-glasses path {
  @media (min-width: @tablet-width) {
    fill: @white;
  }
}

.page-header__intro {
  text-align: center;
}

.page-header__intro-index {
  background-image: url("../../img/index/background/background-intro-phone-s.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    max-width: 300px;
    box-sizing: border-box;
    background-image: none;
    text-align: left;
    margin-left: 20px;
    padding: 0 40px 25px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 130px;
    padding: 0 20px 30px;
  }
}

.page-header__intro-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: @white;
  margin: 0;

  &--index {
    padding: 25px 20px 310px;

    @media (min-width: @tablet-width) {
      text-align: center;
      padding: 0;
    }
  }

  &--form {
    padding: 36px 20px 51px;

    @media (min-width: @desktop-width) {
      padding: 0 225px 105px;
    }
  }

  &--catalog {
    padding: 36px 20px 84px;

    @media (min-width: @desktop-width) {
      padding: 0 400px 105px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
