.page-header {
  background-color: #1d2631;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.page-header__wrapper {
  max-width: 1200px;
  position: relative;
  color: @white;
  margin: 0 auto;
}

.page-header__wrapper-main {
  @media (min-width: @tablet-width) {
    background-image: url("../img/phone-intro-tablet.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 660px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone-intro-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/phone-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: 1050px auto;
    background-position: 146px bottom;
    margin: 0 auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone-intro-desktop@2x.png");
    }
  }
}

.page-header__navigation-container {
  background-color: fade(@black, 30%);
}

.page-header__navigation {
  position: relative;
  display: flex;
  align-items: center;
  color: #ffffff;
  min-height: 66px;
  box-sizing: border-box;
  padding: 0 20px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    min-height: 110px;
    box-sizing: border-box;
    margin-bottom: 73px;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
    margin: 0 auto 80px;
    padding: 0;
  }
}

.page-header__navigation-inner {
  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 58px;
  }
}

.page-header__navigation--opened {
  background-color: #283645;
  box-shadow: inset 0 -2px 0 @black;

  @media (min-width: @desktop-width) {
    background-color: transparent;
    box-shadow: none;
  }
}

.page-header__logo {
  margin-right: auto;
  padding: 20px 0;

  &:hover path {
    fill: @darkpink;
  }

  &:active path {
    fill: fade(@darkpink, 30%);
  }

  @media (max-width: @mobile-width-only) {
    height: 23px;
  }

  @media (min-width: @tablet-width) {
    width: 145px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 27px 0 43px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
  }
}

.page-header__logo-glasses {
  display: none;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-glasses path {
  @media (min-width: @tablet-width) {
    fill: @white;
  }
}

.page-header__logo-name {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-header__intro {
  text-align: center;
}

.page-header__intro-index {
  background-image: url("../img/phone-intro-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 320px auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    max-width: 300px;
    box-sizing: border-box;
    background-image: none;
    text-align: left;
    margin-left: 20px;
    padding: 22px 40px 29px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 130px;
    padding: 32px 20px 23px;
  }
}

.page-header__intro-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: @white;
  margin: 0;

  &--index {
    padding: 23px 20px 315px;

    @media (min-width: @tablet-width) {
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      padding: 0;
    }

    @media (min-width: @desktop-width) {
      font-size: 50px;
      line-height: 68px;
    }
  }

  &--form {
    line-height: 33px;
    padding: 29px 20px 43px;

    @media (min-width: @tablet-width) {
      padding: 0 80px 62px;
      font-size: 50px;
      line-height: 68px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 225px 90px;
    }
  }

  &--catalog {
    padding: 30px 20px 77px;
    line-height: 32px;

    @media (min-width: @tablet-width) {
      padding: 0 80px 0;
      font-size: 50px;
      line-height: 68px;
      margin-bottom: 130px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 400px 90px;
      margin: 0;
    }
  }
}

.page-header__navigation--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 21px;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: @white;
  box-shadow:
    0 10px 0 0 @white,
    0 20px 0 0 @white;
  border-radius: 1px;
}

.page-header__navigation--closed .main-nav__toggle:hover::before {
  background-color: @darkpink;
  box-shadow:
    0 10px 0 0 @darkpink,
    0 20px 0 0 @darkpink;
}

.page-header__navigation--closed .main-nav__toggle:active::before {
  background-color: fade(@darkpink, 30%);
  box-shadow:
    0 10px 0 0 fade(@darkpink, 30%),
    0 20px 0 0 fade(@darkpink, 30%);
}

.page-header__navigation--opened .main-nav__list {
  @media (max-width: 1199px) {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #283645;
  }
}

.page-header__navigation--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 33px;
    right: 0;
    width: 25px;
    height: 3px;
    background-color: @white;
    border-radius: 1px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__navigation--opened .main-nav__toggle:hover::before,
.page-header__navigation--opened .main-nav__toggle:hover::after {
  background-color: @darkpink;
}

.page-header__navigation--opened .main-nav__toggle:active::before,
.page-header__navigation--opened .main-nav__toggle:active::after {
  background-color: fade(@darkpink, 25%);
}

.page-header__navigation--nojs {
  @media (max-width: 1199px) {
    flex-direction: column;
    background-color: #283645;
  }
}

.page-header__navigation--nojs .main-nav__list {
  @media (max-width: 1199px) {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.page-header__navigation--nojs .main-nav {
  @media (max-width: 1199px) {
    width: calc(100% + 40px);
    border-top: 2px solid @black;
  }
}

.page-header__navigation--nojs .main-nav__toggle {
  display: none;
}

.page-header__navigation--nojs .main-nav__wrapper {
  @media (max-width: 1199px) {
    position: relative;
    top: 0;
  }
}
